Source: ros-melodic-ros-type-introspection
Section: misc
Priority: extra
Maintainer: Davide Faconti <faconti@icarustechnology.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-abseil-cpp, ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-roscpp-serialization, ros-melodic-rostime
Homepage: http://www.ros.org/wiki/ros_type_introspection
Standards-Version: 3.9.2

Package: ros-melodic-ros-type-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-abseil-cpp, ros-melodic-roscpp, ros-melodic-roscpp-serialization, ros-melodic-rostime
Description: The ros_type_introspection package allows the user to parse and deserialize ROS messages which type is unknown at compilation time.
